.event-form {
  border: solid 5px black;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  border-radius: 12px;
  background-color: var(--dark-blue);
  color: var(--off-white);
  font-family: var(--font-helvetica);
  justify-content: flex-start;
  overflow: hidden;
  box-sizing: border-box;
}

.event-form label {
  width: 80%;
}

.event-form-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-form input {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: var(--off-white);
  color: black;
  border: 2px solid slategray;
  box-sizing: border-box;
  font-family: var(--font-helvetica);
  display: flex;
  width: 100%;
}

.event-form input:focus {
  border-color: var(--dark-yellow);
  box-shadow: inset 0 0 0.5em 0 var(--dark-yellow),
    0 0 0.5em 0 var(--dark-yellow);
}

label:focus-within {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--dark-yellow);
  color: var(--dark-yellow);
}

.location-input-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.location-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.location-results {
  border: 2px solid slategray;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  position: absolute;
  top: 60px;
  left: 16px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--dark-yellow);
  color: var(--dark-yellow);
  background-color: var(--off-white);
  z-index: 99;
}

.result-items {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
}

.result-items:hover {
  background-color: lightblue;
}

.use-current-loc-btn {
  margin: 10px !important;
}

.current-loc-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.current-loc-container button {
  font-size: 17px !important;
}

.event-type.radio {
  display: flex !important;
  align-items: center !important;
  margin: 0 16px;
}

#event-type-legend {
  margin-right: 25px;
  white-space: nowrap;
}

.event-type.radio input {
  margin: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
  accent-color: var(--bright-orange);
}

.create-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.event-form-cont h2 {
  font-size: 25px;
}

.h2-wrapper.event {
  display: flex;
  justify-content: center;
  width: 100%;
}
