#nav-sidebar{
    position: absolute;
    height: 90vh;
    width: 20vw;
    background-color: var(--dark-blue);
    border-radius: 8px;
    border: 4px solid slategray;
    top: 1em;
    left: 1em;
    overflow: hidden;
    backface-visibility: hidden;
    transition-delay: display 1s;
}

#main-page{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#hamburger-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    z-index: 2;
}

.hamburger{
    width: 30px;
    height: 5px;
    background-color: magenta;
    margin: 2px;
    border-radius: 4px;
    z-index: 3;
}

@keyframes spin {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(180deg);}
}

@keyframes unspin {
    from {transform:rotateY(-180deg);}
    to {transform:rotateY(0deg);}
}

.settings-button{
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--dark-blue);
	width: 32px;
	height: 32px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
    z-index: 4;
}

.settings-button:hover {
	background-color: var(--dark-blue);
}

.sidebar-profile-token {
    position: relative;
    top: calc(100% - 52px);
	height: 52px;
	font-size: 14px;
	font-weight: 500;
	padding: 0 8px;
	background-color: magenta;
	display: flex;
	align-items: center;
    justify-content: space-between;
	color: whitesmoke;
}

.sidebar-profile-token div{
    display: flex;
}

.rotated {
    animation: spin 1s 1 linear;
}

.unrotated {
    animation: unspin 1s 1 linear;
}

.hidden {
    
    display: none;
}