/* .mapboxgl-canvas {
  height: 50% !important;
  width: 50% !important;
  overflow: hidden !important;
} */

.mapboxgl-map {
  height: 100vh;
  width: 100vw;
}

.map-marker-icon {
  fill: var(--bright-orange);
  -webkit-filter: drop-shadow(0 0 0.5em #fff);
  filter: drop-shadow(0 0 5px #fff);
}

.current-location-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-loc-btn {
  bottom: 40px;
  position: absolute;
  z-index: 9;
  border-radius: 5px;
  padding: 8px;
  background-color: var(--off-white);
  font-family: var(--font-helvetica);
  transition: background-color 0.8s, box-shadow 0.8s, border 0.8s, color 0.8s;
  cursor: pointer;
}

.current-loc-btn:hover {
  border: 1px solid var(--dark-yellow);
  box-shadow: inset 0 0 0.2em 0 var(--dark-yellow),
    0 0 0.5em 0 var(--dark-yellow);
  background-color: var(--dark-yellow);
  color: var(--dark-blue);
}
