.event-modal-image {
  height: 30vh;
  aspect-ratio: 5/7;
  border-radius: 8px;
  position: absolute;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  object-fit: cover;
}

.event-modal-image-group {
  overflow: visible;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50%;
}

.event-modal-image-group:before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--dark-yellow);
  bottom: -100px;
  /* left: -100px; */
  width: 200px;
  height: 85px;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
  box-sizing: border-box;
}
/* 
.event-modal-image-group::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--dark-yellow);
  opacity: 1;
  background-color: var(--dark-yellow);
  z-index: -1;
  box-sizing: border-box;
  transition: opacity 1s;
  transition-timing-function: cubic-bezier(0, 2.03, 0, -1.57);
} */

.event-modal-main {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}

#event-modal {
  height: 70vh;
  aspect-ratio: 5/7;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-helvetica);
  position: relative;
}

.h1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 38px;
  font-size: 32px;
}

#event-modal p {
  margin: 15px 0;
  padding-left: 16px;
}

#event-modal button {
  color: slategray;
}

#event-modal label {
  padding-left: none;
  margin-left: none;
}

#event-modal button:hover {
  color: var(--dark-yellow);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--dark-yellow);
}

.event-details-label,
#event-num-meals {
  color: var(--dark-yellow);
}

#event-modal input {
  border: 2px solid salmon;

  padding-left: 4px;
}

#esc-toolbar {
  position: absolute;
  top: -2em;
  right: 2em;
  padding-top: 0;
}

.event-modal-image-group img:nth-child(1) {
  background-color: var(--vivid-sky-blue);
  transform: translate(0, 15%);
  z-index: 60;
}

.event-modal-image-group img:nth-child(2) {
  background-color: var(--flickr-pink);
  transform: translate(0, -15%);
  z-index: 50;
}

.event-modal-image-group img:nth-child(3) {
  background-color: var(--dark-yellow);
  transform: translate(-25%, 0);
  z-index: 55;
}

.event-modal-image-group img:nth-child(4) {
  background-color: var(--purple-2);
  transform: translate(25%, 0);
  z-index: 55;
}

.event-modal-image-group:hover img:nth-child(1) {
  animation: spin2 4s infinite;
}

.event-modal-image-group:hover img:nth-child(2) {
  animation: spin1 4s infinite;
}

.event-modal-image-group:hover img:nth-child(3) {
  animation: spin3 4s infinite;
}

.event-modal-image-group:hover img:nth-child(4) {
  animation: spin4 4s infinite;
}

/* #event-num-meals {
  padding-right: 5px;
} */

@keyframes spin1 {
  25% {
    transform: translate(-25%, 0);
    z-index: 55;
  }
  50% {
    transform: translate(0, 15%);
    z-index: 60;
  }
  75% {
    transform: translate(25%, 0);
    z-index: 55;
  }
}

@keyframes spin2 {
  25% {
    transform: translate(25%, 0);
    z-index: 55;
  }
  50% {
    transform: translate(0, -15%);
    z-index: 50;
  }
  75% {
    transform: translate(-25%, 0);
    z-index: 55;
  }
}

@keyframes spin3 {
  25% {
    transform: translate(0, 15%);
    z-index: 60;
  }
  50% {
    transform: translate(25%, 0);
    z-index: 55;
  }
  75% {
    transform: translate(0, -15%);
    z-index: 50;
  }
}

@keyframes spin4 {
  25% {
    transform: translate(0, -15%);
    z-index: 50;
  }
  50% {
    transform: translate(-25%, 0);
    z-index: 55;
  }
  75% {
    transform: translate(0, 15%);
    z-index: 60;
  }
}

.event-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
  transform-style: preserve-3d;
}

.event-modal-main.back,
.event-modal-main.front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
}

.event-modal-main.back {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

.event-modal-main.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.settings-button.card {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.attend-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.attend-btn-container .settings-button {
  margin-left: 0;
}

.settings-button.attend {
  height: 40px;
  font-size: 20px;
}

.event-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.settings-button.back {
  position: absolute;
  top: 10px;
}

.settings-button.back,
.settings-button.card {
  font-size: 15px;
}

#host-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: slategray;
  width: auto;
  height: 32px;
  border-radius: 4px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  z-index: 4;
  box-sizing: border-box;
  border: 2px solid rgba(112, 128, 144, 0);
  transition: color 1s, box-shadow 1s, border 1s;
  transition-timing-function: cubic-bezier(0, 2.03, 0, -1.57);
  font-family: var(--font-helvetica);
  cursor: pointer;
}

#host-button:hover {
  border: 2px solid var(--dark-yellow);
  color: var(--dark-yellow);
  box-shadow: inset 0 0 0.5em 0 var(--dark-yellow),
    0 0 0.5em 0 var(--dark-yellow);
}
