#user-modal {
  color: white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#user-modal span {
  color: var(--dark-yellow);
}

.person-img {
  width: 360px;
  height: 200px;
  object-fit: scale-down;
  margin: 32px 32px 16px 32px;
  overflow: hidden;
  border-radius: 100%;
}

.user-modal-info {
  margin: 32px;
}

#user-modal-info-username {
  margin-bottom: 16px;
  font-size: 32px;
}

.review-bubble {
  margin: 8px;
  border: 1px solid slategray;
  border-radius: 8px;
  padding: 8px;
}

.review-bubble span {
  color: var(--dark-yellow);
  line-height: 24px;
  font-size: 18px;
}

.review-bubble i {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
}

#user-modal p {
  font-size: 12px;
  color: slategray;
}

.reviews-list {
  max-height: 120px;
}
