/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
  border: none;
  outline: none;
}

*{
  forced-color-adjust: none;
}

input{
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #03071e;
  color: var(--off-white);
}

form > .errors {
  color: var(--off-white);
  font-size: 0.875em;
  height: 15px;
  display: flex;
  align-items: center;
  width: 100%;
}

:root {
  --font-indie-flower: 'Indie Flower', cursive;
  --font-brush: 'Kolker Brush', cursive;
  --font-default: 'Noto Serif JP', serif;
  --font-button: "Balsamiq Sans", cursive;
  --dark-blue: #03071e;
  --darkest-red: #370617;
  --darker-red: #6A040F;
  --deep-orange: #9D0208;
  --solid-orange: #D00000;
  --bright-orange: #DC2f02;
  --light-orange: #E85D04;
  --dark-yellow: #F48C06;
  --solid-yellow: #FAA307;
  --light-yellow: #FFBA08;
  --off-white: whitesmoke;
  --flickr-pink: #f72585ff;
  --byzantine: #b5179eff;
  --purple: #7209b7ff;
  --purple-2: #560badff;
  --trypan-blue: #480ca8ff;
  --trypan-blue-2: #3a0ca3ff;
  --persian-blue: #3f37c9ff;
  --ultramarine-blue: #4361eeff;
  --dodger-blue: #4895efff;
  --vivid-sky-blue: #4cc9f0ff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--dark-blue); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--darkest-red);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darker-red)
}