.splash-nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}

.splash-nav-title {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--dark-yellow);
  color: var(--dark-yellow);
  border: var(--dodger-blue) 0.125em solid;
  box-shadow: inset 0 0 0.5em 0 var(--dodger-blue),
    0 0 0.5em 0 var(--dodger-blue);
  border-radius: 0.25em;
  padding: 0.25em 1em;
  transition: color 1s, border-color 1s, box-shadow 1s, text-shadow 1s;
  transition-timing-function: cubic-bezier(0, 2.03, 0, -1.57);
  position: relative;
  font-family: var(--font-indie-flower);
  text-decoration: none;
  line-height: 48px;
  font-size: 48px;
  display: flex;
  align-items: center;
}

.splash-nav-title:hover {
  color: slategray;
  border-color: slategray;
  box-shadow: none;
  text-shadow: none;
}

.splash-nav-title:hover::before {
  opacity: 0;
}

.splash-nav-title:hover::after {
  opacity: 0;
}

.splash-nav-title::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--dodger-blue);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
  box-sizing: border-box;
  transition: opacity 1s;
  transition-timing-function: cubic-bezier(0, 2.03, 0, -1.57);
}

.splash-nav-title::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--dodger-blue);
  opacity: 0;
  background-color: var(--dodger-blue);
  z-index: -1;
  box-sizing: border-box;
  transition: opacity 1s;
  transition-timing-function: cubic-bezier(0, 2.03, 0, -1.57);
}

#tongue {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.nav-button {
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: slategray;
  border: slategray 0.125em ridge;
  background-color: transparent;
  font-family: var(--font-helvetica);
  height: 32px;
  width: auto;
  margin: 0 8px;
  border-radius: 12px;
  transition-timing-function: cubic-bezier(0, 2.03, 0, -1.57);
  transition: color 1s, border-color 1s, box-shadow 1s, text-shadow 1s;
}

.nav-button:hover::before {
  opacity: 1;
}

.nav-button:hover::after {
  opacity: 1;
}

.nav-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--dark-yellow);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0;
  box-sizing: border-box;
  transition: opacity 1s;
  transition-timing-function: cubic-bezier(0, 2.03, 0, -1.57);
}

.nav-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--dark-yellow);
  opacity: 0;
  background-color: var(--dark-yellow);
  z-index: -1;
  box-sizing: border-box;
  transition: opacity 1s;
  transition-timing-function: cubic-bezier(0, 2.03, 0, -1.57);
}

.nav-button:hover {
  color: var(--dark-yellow);
  border-color: var(--dodger-blue);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--dark-yellow);
  box-shadow: inset 0 0 0.5em 0 var(--dodger-blue),
    0 0 0.5em 0 var(--dodger-blue);
}
