
.splash-nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}

.splash-nav-title{
    font-family: var(--font-indie-flower);
    text-decoration: none;
    line-height: 48px;
    font-size: 48px;
    display: flex;
    align-items: center;
    color: black;
}

#tongue{
    display: inline-block;
    height: 48px;
    width: 48px;
}

.nav-button{
    font-size: 18px;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: slategray;
    border: slategray 0.125em ridge;
    background-color: transparent;
    font-family: var(--font-button);
    height: 32px;
    width: auto;
    margin: 0 8px;
    border-radius: 12px;
}

.nav-button:hover{
    color: var(--flickr-pink);
    border-color: var(--dodger-blue);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--flickr-pink);
    box-shadow: inset 0 0 0.5em 0 var(--dodger-blue), 0 0 0.5em 0 var(--dodger-blue);
}   