.splash-page {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-size: 400% 400%;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
}

.splash-footer {
  background-color: var(--dark-blue);
  color: var(--off-white);
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.splash-footer > ul > div {
  position: relative;
  border: slategray 0.125em ridge;
  padding: 8px 8px;
  border-radius: 12px;
}

.splash-footer h2 {
  font-family: var(--font-helvetica);
}

.splash-footer ul {
  display: flex;
  height: 48px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.splash-footer p {
    padding: 5px;
    text-align: end;
    width: 99%;
    font-size: 12px;
}

.footer-bubble {
  color: slategray;
}

#canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#splash-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
