.splash-page {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(-45deg, var(--darkest-red), var(--deep-orange), var(--light-orange), var(--solid-yellow));
    background-size: 400% 400%;
    -webkit-animation: background-animation 5s ease infinite;
    animation: background-animation 5s ease infinite;
    position: relative;
    overflow-x: hidden;
}

@-webkit-keyframes background-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes background-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

.splash-footer{
    background-color: var(--dark-blue);
    color: var(--off-white);
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

h1{
    font-size: 24px;
    line-height: 32px;
    padding: 16px;
    width: fit-content;
}

ul{
    display: flex;
    height: 48px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}